${javaPath}/yudao-service/yudao-service-biz/src/main/java/${basePackage.replaceAll("\.", "/")}/service/vo/${table.firstModule}/${table.secondModule}/${sceneEnum.prefixClass}baseVO/${classNameHump}Base.java