package ${basePackage}.service.repository.${table.firstModule}.${table.secondModule};

import ${basePackage}.service.model.${table.firstModule}.${table.secondModule}.${classNameHump};
import ${basePackage}.service.model.${table.firstModule}.${table.secondModule}.${classNameHump}Table;
import org.babyfish.jimmer.spring.repository.JRepository;
import org.springframework.data.domain.Page;
import org.springframework.util.StringUtils;
import java.util.Optional;
import java.util.List;

public interface ${classNameHump}Repository extends JRepository<${classNameHump}, Long> {
#set($Table = $classNameHump.substring(0,1).toLowerCase() + ${classNameHump.substring(1)})
    ${classNameHump}Table ${Table}Table = ${classNameHump}Table.$;

}