export type ${classNameHump} = {
#foreach ($column in $columns)
#if (${column.humpName} != "id" && ${column.humpName} != "createTime" && ${column.humpName} != "updateTime" && ${column.humpName} != "creatorId" && ${column.humpName} != "updaterId" && ${column.humpName} != "deleted")
  ${column.humpName}: ${column.vueDataType}
#end
#end
}
