
/**
 * ${dictType.name}
#foreach ($data in $datas)
 * @param ${data.dataEnum} ${data.label}
#end
 */
export const ${typeUpHump}Enum = {
#set($n = 0)
#set($dataLenght = $datas.size())
#foreach ($data in $datas)
    #set($n = $n+1)
  //${data.label}
  ${data.dataEnum}: #if($isNumber != 1)'#end${data.value}#if($isNumber != 1)'#end#if($n != $dataLenght),#end
#end
}