package ${basePackage}.service.convert#foreach ($parentName in $parentNames).$parentName#end;

import java.util.*;

import org.mapstruct.Mapper;
import org.mapstruct.factory.Mappers;
import org.babyfish.jimmer.Page;

/**
 * ${module.comment} Convert
 */
@Mapper
public interface ${nameHumpUp}Convert {
    ${nameHumpUp}Convert INSTANCE = Mappers.getMapper(${nameHumpUp}Convert.class);


}
