package ${basePackage}.service.errorCode#foreach ($parentName in $parentNames).$parentName#end;

import ${basePackage}.service.framework.exception.ErrorCode;

/**
* ${module.name} 错误码枚举类
*
* ${module.name} ${module.comment}，使用 ${module.sort}段
*/
public interface ${nameHumpUp}ErrorCode {
    Integer ERROR_CODE_START_CODE = ${module.sort};

}