package ${basePackage}.service.service#foreach ($parentName in $parentNames).$parentName#end;

import java.util.*;
import ${PageResultClassName};
import jakarta.servlet.http.HttpServletResponse;
import java.io.IOException;

/**
 * ${module.comment} Service 接口
 */
public interface ${nameHumpUp}Service {

}
