#if(${interface.inputType}=="VOClass" && ${inputSrcExtendClass} != "")

    ${inputSrcExtendClass} ${interfaceNameHump}InputConvert(${interfaceInput} input);
#elseif(${interface.inputType}=="VOClassList" && ${inputSrcExtendClass} != "")

    List<${inputSrcExtendClass}> ${interfaceNameHump}InputConvert(${interfaceInput} input);
#end
#if(${inputSubTable} != "")

    ${inputSubTable} ${interfaceNameHump}InputConvert(${interfaceInput}.${inputSubClassName} input);
#end
#if(${interface.outputType}=="VOClass" && ${outputSrcExtendClass} != "")

    ${interfaceOutput} ${interfaceNameHump}OutputConvert(${outputSrcExtendClass} output);
#elseif(${interface.outputType}=="VOClassList" && ${outputSrcExtendClass} != "")

    ${interfaceOutput} ${interfaceNameHump}OutputConvert(List<${outputSrcExtendClass}> output);
#elseif(${interface.outputType}=="VOClassPage" && ${outputSrcExtendClass} != "")

    ${interfaceOutput.replace("PageResult","List")} ${interfaceNameHump}OutputConvert(Page<${outputSrcExtendClass}> output);
#end
