
/**
 * ${interface.comment}
 */
#if(${interfaceInput} == "")${interfaceInput}
export const ${interfaceNameHump} = () => {
  return request.${interface.method}({ url: '/${modulePath}/${moduleNameSymbol}/${interfaceNameSymbol}'})
}
#else
    #if(${interfaceInputSingleParam}!="")
export const ${interfaceNameHump} = ($interfaceInputVar) => {
  return request.${interface.method}({ url: '/${modulePath}/${moduleNameSymbol}/${interfaceNameSymbol}?${interfaceInputVar}=' + ${interfaceInputVar} })
}
    #else
        #set($params = "params")
        #if(${interface.method} == "post" || ${interface.method} == "put")
            #set($params = "data")
        #end
export const ${interfaceNameHump} = ($params) => {
  return request.${interface.method}({ url: '/${modulePath}/${moduleNameSymbol}/${interfaceNameSymbol}', $params })
}
    #end
#end