
    #if(${interface.isImport}==true)
    @GetMapping("/get-${interfaceNameSymbol}-template")
    @Operation(summary = "获得${interface.comment}模板")
    public void get${interfaceNameHump.substring(0, 1).toUpperCase()}${interfaceNameHump.substring(1)}Template(HttpServletResponse response ) throws IOException {
        ${moduleNameHump}Service.get${interfaceNameHump.substring(0, 1).toUpperCase()}${interfaceNameHump.substring(1)}Template(response);
    }

    #end
    @${javaMethod}Mapping("/${interfaceNameSymbol}")
    #if(${interface.comment}!="")
    @Operation(summary = "${interface.comment}")
    #end
    #if(${interface.authorize}!="")
    @PreAuthorize("@ss.hasPermission('${interface.authorize}')")
    #end
    #if(${interfaceInputSingleParam}!="")
    ${interfaceInputSingleParam}
    #end
    public#if(${interfaceOutput}!="void" && ${interface.method}!="download") CommonResult<${interfaceOutput}>#else void#end ${interfaceNameHump}(#if(${interface.isImport}==false)${interfaceInputValid}${interfaceInputRequest}#end#if(${interfaceInput} != "")#if(${interface.isImport}==true)@RequestParam("file") MultipartFile file#else${interfaceInput} ${interfaceInputVar}#end#end#if(${interface.inputServlet})#if(${interfaceInput} != ""),#end HttpServletResponse response#end) #if(${interface.method}=="download" || ${interface.method}=="upload")throws IOException #end{
        #if(${interface.isImport}==true)
        ${interfaceInput} inputVO = ExcelUtils.read(file, ${moduleNameHumpUp}${interfaceNameHumpUp}Input.class);
        #end
        #if(${interfaceOutput}!="void" && ${interface.method}!="download")
        return success(${moduleNameHump}Service.${interfaceNameHump}(#if(${interface.inputServlet})response#if(${interfaceInput} != ""),#end #end#if(${interfaceInput} != "")${interfaceInputVar}#end));
        #else
        ${moduleNameHump}Service.${interfaceNameHump}(#if(${interface.inputServlet})response#if(${interfaceInput} != ""),#end #end#if(${interfaceInput} != "")${interfaceInputVar}#end);
        #end
    }
