
#if(${interface.isImport}==true)
    @Override
    void get${interfaceNameHump.substring(0, 1).toUpperCase()}${interfaceNameHump.substring(1)}Template(HttpServletResponse response) throws IOException {
        ExcelUtils.write(response, "${interface.comment}模板.xls", "${interface.comment}", ${moduleNameHumpUp}${interfaceNameHumpUp}Input.class, null);
    };

#end
    @Override
    #if(${interface.isTransaction} == true)
    @Transactional(rollbackFor = Exception.class)
    #end
    public #if(${interface.method}=="download")void#else${interfaceOutput}#end ${interfaceNameHump}(#if(${interface.inputServlet})HttpServletResponse response#if(${interfaceInput} != ""),#end #end#if(${interfaceInput} != "")${interfaceInput} ${interfaceInputVar}#end) #if(${interface.method}=="download")throws IOException #end{
        #if(${interfaceOutput} != "void" && ${interface.method}!="download")
$functionContent
        #end
    }
