
#if(${interface.method}=="download")    void#else    ${interfaceOutput}#end ${interfaceNameHump}(#if(${interface.inputServlet})HttpServletResponse response#if(${interfaceInput} != ""),#end #end#if(${interfaceInput} != "")${interfaceInput} ${interfaceInputVar}#end)#if(${interface.method}=="download") throws IOException#end;
