
#if(${interface.isImport}==true)
/**
 * 获取${interface.comment}模板
 */
export const get${interfaceNameHump.substring(0, 1).toUpperCase()}${interfaceNameHump.substring(1)}Template= () => {
  return request.download({ url: '/${vueModulePath}/${moduleNameSymbol}/get-${interfaceNameSymbol}-template' })
}

#end
/**
 * ${interface.comment}
 */
#if(${interfaceInput} == "")
export const ${interfaceNameHump} = () => {
  return request.${interface.method}({ url: '/${vueModulePath}/${moduleNameSymbol}/${interfaceNameSymbol}' })
}
#else
    #if(${interfaceInputSingleParam}!="")
export const ${interfaceNameHump} = ($interfaceInputVar) => {
  return request.${interface.method}({ url: '/${vueModulePath}/${moduleNameSymbol}/${interfaceNameSymbol}?${interfaceInputVar}=' + ${interfaceInputVar} })
}
    #else
        #set($params = "params")
        #if(${interface.method} == "post" || ${interface.method} == "put" || ${interface.method} == "upload")
            #set($params = "data")
        #end
export const ${interfaceNameHump} = ($params) => {
  return request.${interface.method}({ url: '/${vueModulePath}/${moduleNameSymbol}/${interfaceNameSymbol}', $params })
}
    #end
#end