package ${basePackage}.service.enums.${module};

import ${basePackage}.framework.common.exception.ErrorCode;

/**
* ${module} 错误码枚举类
*
* ${module} ${moduleRemark}，使用 1-00${moduleIndex}-000-000 段
*/
public interface ErrorCodeConstants {
}