package ${basePackage}.service.enums.${module.name};

import ${basePackage}.framework.common.exception.ErrorCode;

/**
* ${module.name} 错误码枚举类
*
* ${module.name} ${module.comment}，使用 1-00${moduleIndex}-000-000 段
*/
public interface ErrorCodeConstants {

}