package ${basePackage}.service.enums.${moduleName};

import lombok.AllArgsConstructor;
import lombok.Getter;

/**
* ${dictType.name}
*/
@Getter
@AllArgsConstructor
public enum ${typeUpHump}Enum {

#set($n = 0)
#set($dataLenght = $datas.size())
#foreach ($data in $datas)
    #set($n = $n+1)
    /**
    * ${data.label}
    */
    ${data.dataEnum}(${data.value})#if($n == $dataLenght);#else,#end
#end

    private final Integer ${suffixName};

}
